/* ====================================================================================
 *  Project: Blacklist
 *  Author: Andrzej Kałowski
 *  $id: typography.scss
 *  =================================================================================== */

/* Typography ========================================================================= */
@import "variables";

h1,
h2,
h3 {
  color: $dark-color;
  font-weight: 300;
}

h1 {
  font-size: 5rem;
  font-weight: normal;
}

h2 {
  font-size: 4rem;
  font-weight: normal;
  line-height: 6rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 3rem;
}

p {
  font-size: $main-font-size;
  font-weight: normal;
  line-height: $font-line-height;
  color: $dark-color;
}

input::-webkit-input-placeholder {
  color: rgba(35,31,32,.3);
}

input::-moz-placeholder {  /* Firefox 19+ */
  color: rgba(35,31,32,.3);
}

input:-moz-placeholder {  /* Firefox 18- */
  color: rgba(35,31,32,.3);
}

input:-ms-input-placeholder { 
  color: rgba(35,31,32,.3);
}