
/* ====================================================================================
 *  Project: Blacklist
 *  Author: Andrzej Kałowski
 *  $id: variables.scss
 *  =================================================================================== */

/* Color definitions ================================================================== */
$main-color: #2a1f0f;
$accent-color: #3598dc;
$alert-color: #c0392b;
$dark-color: #000;
$bright-color: #eae2d7;
$very-bright-color: #fff;

/* Font definitions =================================================================== */
$primary-font: 'Lato', Helvetica, sans-serif !default;
$secondary-font: 'Oswald', Helvetica, sans-serif !default;
$main-font-size: 1.2rem;
$small-font-size: 0.7rem;
$font-line-height: 1.2rem;